@import './variables';


.activity_container {
    background-color: $dark-blue;

    .activity_heading_flexbox {
        display: flex;
        justify-content: space-between;

        .activity {
            color: $pale-blue;
            font-weight: $font-weight-300;
        }

        .three_dots {
            color: $desaturated-blue;
        }
    }

    .activity_time {
        color: $pale-blue;
        font-weight: $font-weight-300;
    }

    .activity_previous {
        color: $desaturated-blue;
        font-weight: $font-weight-300;
    }
}