@import '../scss/variables';


// Layout to center content on screen
.layout_wrapper {
    display: grid;
    justify-content: center;
    place-items: center;
    min-height: 100vh;

    // parent grid container 
    .parent_grid {
        width: 900px;
        height: 460px;
        background-color: $very-dark-blue;
        padding: 20px;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1.1fr;
        gap: 25px 25px;
        grid-auto-flow: row;

        &>* {
            border-radius: 6px;
        }

        // Profile Container big box
        .profile_container {
            grid-area: 1 / 1 / 3 / 2;
            background-color: $dark-blue;
            box-shadow: 4px 25px 15px 6px rgba(0, 0, 0, 0.1);

            img {
                border: 2px solid white;
                border-radius: 50%;
                width: 60px;
                height: 60px;
            }

            .person_details {
                background: $blue;
                border-radius: 6px;
                padding: 5vh 3vh 4vw;
                margin-bottom: 1em;

                p {
                    color: white;

                }

                p:nth-of-type(1) {
                    margin-top: 5vh;
                    color: $pale-blue;
                    font-size: 0.6rem;
                    font-weight: $font-weight-400;
                }

                p:nth-of-type(2),
                p:nth-of-type(3) {
                    font-size: 1.75rem;
                    line-height: 1.75rem;
                    font-weight: $font-weight-300;
                }
            }

            .timeframe {
                display: flex;
                flex-direction: column;
                gap: 2vh;
                background-color: $dark-blue;
                padding: 4vh;

                p {
                    color: $desaturated-blue;
                    font-weight: $font-weight-300;
                    font-size: 13px;
                }

                p:hover {
                    color: white;
                    cursor: pointer;
                }

                .active {
                    color: white
                }
            }
        }


        // svg images in the right corner is child of each activity container
        // sibling with each Activity Card

        .activity_image_position {
            position: relative;
            top: 0;
            left: 100px;
            left: 140px;
            height: 54px;
        }

        // Activity Containers
        // area children
        .work_card_bg {
            grid-area: 1 / 2 / 2 / 3;
            background-color: $light-red-work;
            display: grid;
            box-shadow: 4px 25px 15px 6px rgba(0, 0, 0, 0.1);
        }

        .play_card_bg {
            grid-area: 1 / 3 / 2 / 4;
            background-color: $pale-blue;
            display: grid;
            box-shadow: 4px 25px 15px 6px rgba(0, 0, 0, 0.1);

        }

        .study_card_bg {
            grid-area: 1 / 4 / 2 / 5;
            background-color: $light-red-study;
            display: grid;
            box-shadow: 4px 25px 15px 6px rgba(0, 0, 0, 0.1);

        }

        .exercise_card_bg {
            grid-area: 2 / 2 / 3 / 3;
            background-color: $lime-green-exercise;
            display: grid;
            box-shadow: 4px 25px 15px 6px rgba(0, 0, 0, 0.1);
        }

        .social_card_bg {
            grid-area: 2 / 3 / 3 / 4;
            background-color: $violet-social;
            display: grid;
            box-shadow: 4px 25px 15px 6px rgba(0, 0, 0, 0.1);
        }

        .self_care_card_bg {
            grid-area: 2 / 4 / 3 / 5;
            background-color: $soft-orange-self-care;
            display: grid;
            box-shadow: 4px 25px 15px 6px rgba(0, 0, 0, 0.1);
        }

        // end of parent grid container
    }

    // end of layout wrapper
}

// responsive media queries

@media screen and (max-width:$mobile ) {

    .layout_wrapper {
        display: block;

        .parent_grid {
            width: 100%;
            height: 0;
            background-color: $very-dark-blue;
            padding: 20px;
            display: block;
            ;


            // Profile Container big box
            .profile_container {
                width: 100%;
                border-radius: 0;
                margin: 5vh 0;
                border-radius: 12px;

                img {
                    border: 2px solid white;
                    border-radius: 50%;
                    width: 60px;
                    height: 60px;
                }


                .person_details {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr 1fr;
                    grid-template-areas:
                        "img p1 p1"
                        "img p2 p3";
                    padding: 5vh;
                    border-radius: 12px;

                    img {
                        grid-area: img;
                        justify-content: baseline;
                        place-items: baseline;

                    }


                    p:nth-of-type(1) {
                        grid-area: p1;
                        margin: 1vh 0;
                        font-size: medium;
                    }

                    p:nth-of-type(2) {
                        grid-area: p2;
                    }

                    p:nth-of-type(3) {
                        grid-area: p3;
                    }
                }

                .timeframe {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding: 2vh 5vw;
                    border-radius: 12px;

                    p {
                        color: $desaturated-blue;
                        font-weight: $font-weight-400;
                        font-size: $font-size;
                    }

                    p:hover {
                        color: white;
                        cursor: pointer;
                    }

                    .active {
                        color: white
                    }
                }
            }

        }
    }


}